@use "@styles/variables" as vars;

.search-container {
    display: flex;
    max-width:300px;
    align-items: center;
    background-color: #00000080;
    border-radius: vars.$border-radius;
    padding: 0.75rem 1rem;
    margin-bottom: 10px;

    &__search-icon {
        width: 1.25rem;
        height: 1.25rem;
    }

    &__search-input {
        border: none;
        background: transparent;
        color: vars.$white_text-color;
        font-size: 0.95rem;
        padding-left: 0.75rem;

        &::placeholder {
            color: vars.$white_text-color;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}