@use "@styles/variables" as vars;

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    color: #293b49;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.number {
    font-weight: 900;
    font-size: 15rem;
    line-height: 1;
}

.illustration {
    position: relative;
    width: 12.2rem;
    margin: 0 2.1rem;
}

:where(.circle, .clip, .paper, .eyes, .eye, .cheeks, .mouth) {
    position: absolute;
}

.circle {
    bottom: 0;
    left: 0;
    width: 12.2rem;
    height: 11.4rem;
    border-radius: 50%;
    background-color: #293b49;
}

.clip {
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 12.5rem;
    height: 13rem;
    border-radius: 0 0 50% 50%;
}

.paper {
    bottom: -0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 9.2rem;
    height: 12.4rem;
    border: 0.3rem solid #293b49;
    background-color: white;
    border-radius: 0.8rem;
}

.face {
    position: relative;
    margin-top: 2.3rem;
}

.eyes {
    top: 0;
    left: 2.4rem;
    width: 4.6rem;
    height: 0.8rem;
}

.eye {
    bottom: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #293b49;
    animation-name: eye;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &__left {
        left: 0;
        position: absolute;
    }

    &__right {
        right: 0;
        position: absolute;
    }
}

@keyframes eye {
    0%,
    10%,
    20%,
    30%,
    100% {
        height: 0.8rem;
    }

    12%,
    22% {
        height: 0.1rem;
    }
}

.cheeks {
    top: 1.6rem;
    width: 1rem;
    height: 0.2rem;
    border-radius: 50%;
    background-color: #fdabaf;
    &__left {
        left: 1.4rem;
    }

    &__right {
        right: 1.4rem;
    }
}

.mouth {
    top: 3.1rem;
    left: 50%;
    width: 1.6rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    transform: translateX(-50%);
    background-color: #293b49;
}

.text {
    margin-top: 5rem;
    font-weight: 300;
}

.backHomeBtn {
    margin-top: 3rem;
    padding: 1.2rem 3rem;
    text-decoration: none;
    color: vars.$white_text-color;
}
