@use "@styles/variables" as vars;

.coachContainer {
  padding: 20px;
  background-color: vars.$item-light-background;
  border-radius: vars.$border-radius;
  box-shadow: vars.$item-light-box-shadow;
  max-width: 900px;
  min-height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coachDetails {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 60px;
}

.coachInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.coachPhoto {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.coachName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.coachCareer {
  margin-top: 20px;
  display: flex;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.jobDetails {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: vars.$white-text-color;
  border-radius: 8px;
  box-shadow: vars.$item-light-box-shadow;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 200px;
}

.jobDetails h4 {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 1.1rem;
  margin: 0;
}

.teamLogo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-top: 10px;
}

p {
  margin: 5px 0;
}

/* Mobile View */
@media (max-width: 900px) {
  .coachContainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .coachInfo {
    align-items: center;
  }

  .coachPhoto {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
  }

  .coachName {
    font-size: 1.25rem;
  }
  .currentJob {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .coachCareer {
    gap: 15px;
  }

  .jobDetails {
    width: 160px;
    height: 180px;
    padding: 12px;
  }

  .jobDetails h4 {
    font-size: 1rem;
  }

  .teamLogo {
    width: 40px;
    height: 40px;
  }
}

