@use './variables' as vars;

.title {
  font-size: 50px;
  font-weight: 600;
  color: vars.$color-black;
  padding:15px;

  &--fs24 {
    font-size: 24px;
    text-align: center;

  }

  &--fs24black {
    font-size: 24px;
    text-align: center;
  }

}