@use "@styles/_index.scss";
@use "@styles/variables" as vars;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: vars.$item-light-background;
  min-height: 100vh;

}
* {
  box-sizing: border-box;
html, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a, img, strong, b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, 
table, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section
 {
	margin: 0;
	padding: 0;
	border: 0;
}

}

