@use './variables' as vars;

.title {
  font-size: 50px;
  font-weight: 600;
  color: vars.$color-black;

  &--fs24 {
    font-size: 24px;
    text-align: center;
    color:vars.$white_text-color
  }

  &--fs24black {
    font-size: 24px;
    text-align: center;
  }

}