@use "sass:color";

$background-dark: #1c1f26;
$color-black: #0D1033;
$item-background: #2a2e37;
$item-light-background: #f1f5f9;
$item-light-box-shadow: rgba(34, 34, 38, 0.16) 0px 1px 4px 0px;
$item-hover: color.mix(white, #2a2e37, 10%);
$item-active: rgba(122, 132, 255, 0.25);
$white_text-color: #ffffff;
$grey_text-color-secondary: rgba(255, 255, 255, 0.7);
$green_dark-accent:#1f7965;
$green_light-accent:#01ac88;
$blue_dark-accent:#374DF5;


$transition: all 0.3s ease-in-out;
$border-radius: 12px;