@use "@styles/variables" as vars;

.player-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: vars.$white_text-color;
  border-radius: vars.$border-radius;
  box-shadow: vars.$item-light-box-shadow;
  padding: 20px;

  .position-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    .position-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
    }
    .attacker {
      color: rgb(203, 24, 24)
    }
    
    .midfielder {
      color: rgb(11, 179, 42)
    }
    
    .defender {
      color: rgb(55, 77, 245);
    }
    
    .goalkeeper {
      color: orange;
    }

    .players-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 140px));
      gap: 1.5rem;
    }
  }
}
