@use "@styles/variables" as vars;

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$item-light-background;
  box-shadow: vars.$item-light-box-shadow;
  border-radius: 12px;
  padding: 0.5rem 0.8rem;
  width: 150px;


  box-sizing: border-box;
  height: 180px;


  .player-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid rgba(34, 34, 38, 0.15);
  }

  .player-name {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    color: #0f172a;
  }

  .player-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.75rem;

    .position-letter {
      color: vars.$white_text-color;
      padding: 0.1rem 0.3rem;
      border-radius: 0.25rem;
      font-weight: 600;
      font-size: 0.7rem;
    }
    .attacker {
      background-color: rgb(203, 24, 24);
    }

    .midfielder {
      background-color: rgb(11, 179, 42);
    }

    .defender {
      background-color: rgb(55, 77, 245);
    }

    .goalkeeper {
      background-color: orange;
    }

    .country-info {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .country-flag {
        width: 16px;
        height: 12px;
        display: inline-block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .country-code {
        color: #64748b;
        font-weight: 500;
      }
    }
  }
}
