@use "@styles/variables" as vars;

.main {
    position: relative;
    cursor: pointer;
    border: 1px solid black;
    border-radius: vars.$border-radius;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-icon {
    position: absolute;
    right: 3px;
    bottom: 5px;
    fill: rgb(196, 191, 191);
}
.star-active {
  fill: gold; 
}

.team-name {
    font-size: 14px;
    text-align: center;
}

.team-image {
    width: 100px;
    height: 100px;
    object-fit: contain;

}
