@use "@styles/variables" as vars;

.navbar {
    background-color: vars.$blue_dark-accent;
    width: 100%;
    margin-bottom: 50px;
    &__content {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;  
        align-items: center;
    }

    &__logo {
        width: 140px;
        height: 140px;
    }
}
