@use "@styles/variables" as vars;

.image{
    width: 700px;
    height: 370px;
    border-radius: 0 0 vars.$border-radius  vars.$border-radius;
}
.go-to-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: vars.$border-radius;
    background-color: vars.$green_light-accent;
    box-shadow: vars.$item-light-box-shadow;
    transition: vars.$transition;
    color: vars.$white_text-color;
    &:hover{
        background-color: vars.$green_dark-accent;
        box-shadow: vars.$item-light-box-shadow;
        transform: scale(1.05);
    }
}
@media (max-width: 768px) {
    .image{
        width: 100%;
        height: auto;

    }
    .wrapper{
        padding: 10px;
    }
}