@use "@styles/variables" as vars;

.styledMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: vars.$green_light-accent;
    height: 100vh;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    @media (max-width: 576px) {
        width: 100%;
    }

    a {
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: bold;
        letter-spacing: 0.5rem;
        color: #0d0c1d;
        text-decoration: none;
        transition: color 0.3s linear;

        @media (max-width: 576px) {
            font-size: 1.5rem;
            text-align: center;
        }

        &:hover {
            color: #343078;
        }
    }
}

.menuButton {
    background: transparent;
    border: none;
    color: #0d0c1d;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    padding: 1rem 0;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s linear;

    &:hover {
        color: #343078;
    }

    @media (max-width: 576px) {
        font-size: 1.5rem;
        text-align: center;
    }
}

.navmobile-container {
    display: none;

    @media (max-width: 850px) {
        display: block;
    }
}