@use "@styles/variables" as vars;

.stat-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid vars.$item-active;

  &:last-child {
    border-bottom: none;
  }
}

.stat-value-left {
  text-align: left;
  font-weight: 500;
  color: vars.$color-black;
}

.stat-value-right {
  text-align: right;
  font-weight: 500;
  color: vars.$color-black;
}

.stat-label {
  text-align: center;
  color: #555;
  font-size: 14px;
  font-weight: 600;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .stat-row {
    justify-content: space-between;
  }
  .stat-label {
    width: 100px;
    flex: none;
  }
  .image {
    width: 70px;
    height: 70px;
  }
}
